*,
*::before,
*::after,
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    div{
        font-size: 32px;
        font-weight: 800;
        margin-right: 30px;
    }
}