.card {
  width: 250px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
  &-img{
    width: 100%;
  }
  &-body{
    padding: 20px;
  }
  &-tittle{
    font-size: 18px;
    margin-bottom: 10px;
  }
  &-text{
    margin-bottom: 10px;
    font-size: 12px;
  }
  a{
    text-decoration: none;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}